{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="description">
  <p>Upload your CSV file here.</p>
  </div>
  <form action="/process" method="post" enctype="multipart/form-data">
    <input type="file" name="csv_file" accept="text/csv">
    <p>Choose <strong>Display as table</strong> if you want to print the file
    directly from the browser. You can omit columns by clicking on the button in
    the heading.</p>
    <p>Choose <strong>Download as CSV</strong> if you would like to edit the
    file in a spreadsheet editor (Excel, OpenOffice).</p>
    <input type="submit" name="return_as_table" value="Display as table">
    <input type="submit" name="return_as_csv" value="Download as CSV">
  </form>
</div>
{% endblock content %}
