{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="description">
  <p>Upload your .CSV file from the <a class="reg-a" href="https://backwoodsok.org/wp-admin/admin.php?page=ec-store-admin-orders">BOK Dashboard EcwidStore | MySales | Orders</a></p>
  </div>
  <form id="form-upload" action="/process" method="post" enctype="multipart/form-data">
    <input id="form-upload-file" type="file" name="csv_file" accept="text/csv">
    <div>
      <input type="submit" name="return_as_table" value="Display as table">
      <span>To print the file directly or to remove columns, either for printing or for downloading.</span>
    </div>
    <div>
      <input type="submit" name="return_as_csv" value="Download as CSV">
      <span>To use the file in a spreadsheet editor like OpenOffice or Excel.</span>
    </div>
  </form>
</div>
{% endblock content %}
